body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input, button {
	outline: none;
}
button{
	margin: 0;
	padding: 0;
}
/* calculator one */
.calcLabel {
	margin: auto;
	text-align: center;
	font-size: 20px;
}
#calculatorOne {
	width: 420px;
	background-color: #ccc;
	margin: 100px auto 50px;
	padding:10px;
	border-radius: 5px;
	display: flex;
	flex-flow: column wrap
}

.inputs:hover, .calcButton:hover{
	background-color: #f5f5f5;
}

.calcButton:active {
	background-color: #ddd;
}
#inputContainer {
	display: flex;
	flex-flow: row wrap;
}

.inputs {
	font-size: 14px;
	border: .5px solid #555;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
	flex: 1 1 auto;
}
#numOne, #numTwo {
	width: 45%;
}
#operatorContainer {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.calcButton{
	width: 80px;
	height: 80px;
	font-size: 20px;
	margin: 5px;
	border: 1px solid #555;
}
/*calculator two */
#calculatorTwo {
	width: 420px;
	height: 520px;
	background-color: #8C8;
	margin: 100px auto 50px;
	padding:10px;
	border-radius: 5px;
	font-size: 25px
}
#calculatorTwo * {
	float: left;
	border: .5px solid #bfb;
	font-size: inherit;
}
#result {
	width: 300px;
	height: 100px;
	padding: 0 10px;
}
.numberButton {
	color: white;
	background-color: #595;
	width: 100px;
	height: 100px;
}
.numberButton:hover{background-color: #484}
.numberButton:active{background-color: #373}

.operatorButton {
	background-color: #8C8;
	width: 100px;
	height: 100px;
}
.operatorButton:hover{background-color: #7b7}
.operatorButton:active{background-color: #6a6}